.electron-energy-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  text-decoration-color: #333;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ensure select fills the entire width of its parent container */
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group input[type="text"],
.input-group input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.output-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e5e5e5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.output-group p {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .electron-energy-calculator {
    padding: 10px;
  }

  .input-group {
    margin-bottom: 5px;
  }

  .input-group label {
    font-size: 14px;
  }

  .input-group input[type="text"],
  .input-group input[type="number"] {
    padding: 5px;
    font-size: 14px;
  }

  .output-group {
    margin-top: 10px;
    padding: 5px;
  }

  .output-group p {
    font-size: 18px;
  }

  .button-container {
    position: static;
    margin-top: 10px;
  }
}
