.element-detail {
  display: flex;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.info{
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  text-align: left;
}

.element-detail .info {
  flex: 1;
  padding-right: 20px;
}

.element-detail h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.element-detail p {
  font-size: 18px;
  color: #555;
  margin-bottom: 8px;
}

.element-detail p:last-child {
  margin-bottom: 0;
}

.element-detail p strong {
  color: #000;
}

.canvas-container {
  margin-bottom: 20px;
  flex: 1;
}
